eclipse.jdt.ls/
elpa/
.idea/
*.iml
README.el
README.org~
amx-items
.smex-items
*~$
places
recentf
.recentf
.recentf~
cider-history
network-security.data
projectile-bookmarks.eld
projectile.cache
ido.last
ido.last~
auto-save-list
backups
archive-contents
.cask
cider
/.mc-lists.el
.DS_Store
*~
semanticdb
customizations/setup-proxy.el
#init.el#
eshell
transient
var
systemhalted.el
request
url	
#init.el#
.dap-breakpoints
.lsp-session-v1
systemhalted.el
.cache
workspace